@font-face {
  font-family: 'Asap Regular';
  src: url('../assets/fonts/Asap-Regular.eot');
  src: url('../assets/fonts/Asap-Regular.woff2') format('woff2'),
    url('../assets/fonts/Asap-Regular.woff') format('woff'),
    url('../assets/fonts/Asap-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('../assets/fonts/LucidaSans.eot');
  src: url('../assets/fonts/LucidaSans.woff2') format('woff2'),
    url('../assets/fonts/LucidaSans.woff') format('woff'),
    url('../assets/fonts/LucidaSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe WP';
  src: url('../assets/fonts/SegoeWP.eot');
  src: url('../assets/fonts/SegoeWP.woff2') format('woff2'),
    url('../assets/fonts/SegoeWP.woff') format('woff'),
    url('../assets/fonts/SegoeWP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe WP Light';
  src: url('../assets/fonts/segoe-wp-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Light';
  src: url('../assets/fonts/SegoeUI-Light.eot');
  src: url('../assets/fonts/SegoeUI-Light.woff2') format('woff2'),
    url('../assets/fonts/SegoeUI-Light.woff') format('woff'),
    url('../assets/fonts/SegoeUI-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Segoe UI Bold';
  src: url('../assets/fonts/SegoeUI-Bold.eot');
  src: url('../assets/fonts/SegoeUI-Bold.woff2') format('woff2'),
    url('../assets/fonts/SegoeUI-Bold.woff') format('woff'),
    url('../assets/fonts/SegoeUI-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../assets/fonts/MyriadPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('../assets/fonts/ptsans/PTSans-Regular.eot');
  src: url('../assets/fonts/ptsans/PTSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/ptsans/PTSans-Regular.woff') format('woff'),
    url('../assets/fonts/ptsans/PTSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans Narrow';
  src: url('../assets/fonts/ptsans/PTSans-Narrow.eot');
  src: url('../assets/fonts/ptsans/PTSans-Narrow.woff2') format('woff2'),
    url('../assets/fonts/ptsans/PTSans-Narrow.woff') format('woff'),
    url('../assets/fonts/ptsans/PTSans-Narrow.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/open-sans/opensans.ttf') format('ttf'),
    url('../assets/fonts/open-sans/opensans.woff') format('woff'),
    url('../assets/fonts/open-sans/opensans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}