@media screen and (max-width: 1300px) {
  .wrapper {
    max-width: 640px;
    margin: 0 auto;
  }


  .container {
    padding-top: 0px;
    background: none;
    height: 386px;
  }

  .menu {
    justify-content: flex-start;
    align-items: center;
    height: 61px;
    background-color: #444444;
  }

  .logo__link {
    margin-left: 13px;
    margin-right: 18px;
  }


  .logo-ico {
    height: 38px;
    width: 39px;
    background-size: 39px 38px;
  }

  .logo__text {
    font-size: 20px;
    line-height: 14px;
    margin-top: 5px;
  }

  .navigation {
    margin-right: 0;
    margin-left: 4px;
    box-shadow: none;
    height: 100%;
    align-items: center;
  }

  .navigation__link {
    font: 400 19px "Segoe WP", sans-serif;
    letter-spacing: 0.3px;
  }

  .navigation__item {
    padding: 0 0px;
    margin-top: -3px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .navigation__item:nth-child(1) {
    margin-right: -15px;
    margin-left: 32px;
  }

  .navigation__item:nth-child(2) {
    margin-left: 28px;
    PADDING-RIGHT: 13PX;
  }

  .navigation__item:nth-child(3) {
    margin-left: 11px;
  }

  .navigation__item:nth-child(-n+2) {
    border-right: 1px solid #DCB105;
  }

  .about:before {
    content: "";
    background-image: url('../assets/images/contacts/about-ico.png');
    background-repeat: no-repeat;
    background-size: 25px 23px;
    display: inline-block;
    width: 25px;
    height: 23px;
  }

  .services:before {
    content: "";
    background-image: url('../assets/images/contacts/services.png');
    background-repeat: no-repeat;
    background-size: 23px 23px;
    display: inline-block;
    width: 23px;
    height: 23px;
    right: 6px;
  }

  .contact:before {
    content: "";
    background-image: url(../assets/images/contacts/contact.png);
    background-size: 29px 22px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 29px;
    height: 22px;
    right: 9px;
  }






  .header__p1,
  .header__p2,
  .header-text,
  .left-slider-button,
  .right-slider-button,
  .info-content__date,
  .slider {
    display: none;
  }


  .video-container {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  .video-container .video2 {
    display: block;
    object-fit: cover;
    width: 100%;
  }

  .video-controls {
    top: -130px;
    right: -84px;
  }

  .video-play-btn {
    top: calc(-50% - 50px);
    left: calc(50% - 25px);
  }

  .device-list {
    display: none;
  }

  .products {
    box-shadow: none;
    width: 100%;
    height: 174px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 2px;
  }

  .products__item__img {
    margin-bottom: 17px;
  }

  .better {
    margin-left: 43px;
  }

  .customise {
    margin-left: 81px;
    margin-top: 4px;
    margin-bottom: 12px;
  }

  .free {
    margin-left: 68px;
    margin-top: 4px;
    margin-bottom: 13px;
  }

  .pos-better {
    margin-left: -5px;
  }

  .pos-customise {
    margin-left: 35px;
  }

  .pos-free {
    margin-left: 89px;
  }

  .info-section {
    height: 484px;
  }

  .info-content {
    height: 446px;
    width: 100%;
    margin-left: 0px;
  }

  .info-content h2 {
    display: none;
  }

  .info-content__line {
    height: 233px;
    margin-top: 0px;
    position: relative;
    width: 100%;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  .line__block {
    margin-left: 9px;
    margin-top: 9px;
  }

  .line__block .plus-img1 {
    position: relative;
    bottom: 28px;
    right: -273px;
  }

  .block1 {
    width: 299px;
  }

  .block2 {
    width: 315px;
  }

  .block3 {
    width: 100%;
    margin-left: 0px;
    left: 0px;
    display: flex;
    background-color: #F5C507;
  }

  .line__block .plus-img2,
  .twitter-number {
    display: none;
  }

  .devices-content {
    width: 100%;
    height: 352px;
    margin-left: 10px;
    margin-top: 1px;
    position: relative;
  }

  .devices-content h2 {
    letter-spacing: 1px;
    font: 400 38px 'Open Sans',
      'Segoe WP';
    color: #F5C506;
    text-transform: uppercase;
    position: relative;
    margin-top: -6px;
    left: -16px;
  }

  .info-section {
    background: none;
  }

  .products__item {
    width: 213px;
  }

  .video1 {
    display: none;
  }

  main {
    position: relative;
  }

  .devices-section {
    height: 471px;
  }

  .devices-block {
    top: 109px;
    left: -3px;
  }

  .cycle-img {
    top: -41px;
    left: -29px;
  }


  .twitter-img img {
    position: relative;
    top: calc(50% - 57px);
    left: calc(50% - 74px);
    width: 160px;
  }


  .products__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: -7px;
    box-sizing: border-box;
  }

  .products__item__img {
    position: initial;
  }

  .item__text {
    position: initial;
  }

  .better img {
    width: 90px;
  }

  .customise img {
    width: 68px;
  }

  .free img {
    width: 69px;
  }

  .item__text {
    text-transform: uppercase;
    font: 400 23px "Segoe UI Light", sans-serif;
    text-indent: 20px;
    letter-spacing: 0.27px;
  }

  .twitter-block {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-right: 15px;
    margin-right: -27px;
    font-size: 13px;
    letter-spacing: 0.6px;
    line-height: 15px;
    color: #8f8e8e;
    font-family: "Arial";
  }

  .twitter-message {
    width: 300px;
    height: 50px;
    padding-left: 34px;
    padding-top: 10px;
    font-size: 12px;
    margin-bottom: -4px;
  }

  .inactive {
    background: url('../assets/images/twitt-inactive.png') no-repeat;
  }

  .active {
    background: url('../assets/images/twitt-active.png') no-repeat;
  }

  .twitter-message p {
    background-color: #FBE89C;
  }

  .input-form {
    display: flex;
    height: 31px;
    margin-top: 2px;
    margin-left: 18px;
  }

  .twitter-textfield {
    border: none;
    border-radius: 10px 0 0 10px;
    width: 202px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  }

  .twitter-button {
    border: none;
    border-radius: 0 10px 10px 0;
    width: 70px;
    background-color: #DB9A18;
    color: white;
    font-size: 15px;
    text-indent: -3px;
  }

  .block1 p {
    padding: 16px 27px;
    letter-spacing: 0.22px;
    color: #ffffff;
    font: 100 29px "Segoe WP Light",
      sans-serif;
    line-height: 33px;
    font-weight: 300;
  }

  .footer {
    box-shadow: 0px -6px 3px 0px rgba(0, 0, 0, 0.75);
  }

  .footer-logo {
    margin-left: 65px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-top: 7px;
  }

  .footer-logo img {
    display: block;
    width: 30px;
    margin-left: 63px;
    padding-top: 14px;
  }

  .fooret-logo__ico {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/images/logo.png);
    height: 30px;
    width: 30px;
    background-size: 30px 30px;
  }


  .fooret-logo__text {
    margin-top: 1px;
    margin-left: 9px;
    font: italic 17px "Lucida Sans";
    text-transform: uppercase;
    color: white;
  }

}