 .wrapper {
   width: 1300px;
   margin: 0 auto;
 }

 .header {
   /* border: 1px solid red; */
   height: 566px;

   background-image: url(../assets/images/bgHeader.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }

 .menu {
   /* border: 1px solid red; */
   margin-top: 26px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .logo__link {
   /* border: 1px solid red; */
   margin-left: 100px;
   display: flex;
   align-items: center;
   text-decoration: none;
 }

 .logo-ico {
   height: 100px;
   width: 100px;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url(../assets/images/logo.png);
 }

 .logo__text {
   font: italic 41px "Lucida Sans";
   text-transform: uppercase;
   color: white;
 }

 .navigation {
   /* border: 1px solid red; */
   display: flex;
   align-items: center;
   list-style: none;
   background-color: #F5C506;
   box-shadow: -4px -4px 0px 0px #9B821B, -8px -8px 0px 0px #857324;
 }

 .navigation__link {
   margin: 0 13px;
   text-decoration: none;
   text-transform: uppercase;
   font: 400 17px/40px "Segoe WP", sans-serif;
   color: #B99403;
 }

 .about:before {
   content: url(../assets/images/contacts/about-ico.png);
   position: relative;
   left: 3px;
   margin-right: 18px;
   top: 3px;
 }

 .services:before {
   content: url(../assets/images/contacts/services.png);
   position: relative;
   left: 3px;
   margin-right: 18px;
   top: 3px;
 }

 .contact:before {
   content: url(../assets/images/contacts/contact.png);
   position: relative;
   left: 3px;
   margin-right: 18px;
   top: 3px;
 }

 .slider-video {
   display: flex;
   align-items: center;
 }

 .video {
   margin-left: 200px;
 }

 .header-text {
   /* border: 1px solid red; */
   width: 392;
   height: 121px;
   text-align: center;
   margin-left: 100px;
   color: white;
 }

 .header-text span {
   color: yellow;
 }

 .header__h1 {
   text-align: center;
   font-size: 54px;
   text-transform: uppercase;
   font-family: 'Asap Regular';
 }

 .products {
   /* border: 1px solid red; */
   height: 212px;
   display: flex;
   justify-content: center;
   background-image: url(../assets/images/bgWhite.jpg); 
 }

 .products__item {
   border-left: 1px solid #D3D3D3;
   width: 325px;
   height: 212px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 .products__item__img {
   height: 96px;
   margin-bottom: 19px;
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
 }


 .products__item:last-child {
   border-right: 1px solid #D3D3D3;
 }

 .item__text {
   text-transform: uppercase;
   font: 400 27px "Segoe UI", sans-serif;
   color: black;
 }

 .background-yellow {
   /* border: 1px solid red; */
   height: 509px;
   background-image: url(../assets/images/bgYellow.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }


 .yellow-content {
   /* border: 1px solid red; */
   width: 1019px;
   height: 446px; 
   margin-left: 150px;
 }

 .yellow-content h2 {
   font: 400 37px "PTSans", sans-serif;
   text-transform: uppercase;
   color: white;
 }

 .yellow-content__line {
   /* border: 1px solid red; */
   height: 233px;
   margin-top: 50px;
 }


 .line__block {
   /* border: 1px solid red; */
   height: 233px;
   float: left;
   display: flex;
   align-items: flex-end;
 }

 .line__block p {
   margin: 25px 31px;
 }

 .line__block .plus-img {
   position: relative;
   bottom: 10px;
   right: 10px
 }

 .video-block {
   background-image: url("../assets/images/yellow__block__img1.jpeg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
 }

 .play-img {
   background-image: url("../assets/images/cycle.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 62px;
   height: 62px;
 }

 .line__block {
   background-color: #EC9E03;
   font: 400 29px "Segoe WP", sans-serif;
   color: white;
 }

 .block1 {
   width: 341px;
 }

 .block2 {
   width: 315px;
   height: 100%;
 }

 .block3 {
   width: 329px;
   margin-left: 25px;
 }

 .twitter-img {
   display: flex;
   /*центрируем элемент по горизонтали */
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
 }

 .yellow-content__date {
   /* border: 1px solid red; */
   background-color: #DDB101;
   width: 113px;
   height: 86px;
   font: 400 21px 'Segoe UI', 'Segoe WP';
   color: #B26529;
   text-align: center;
   text-transform: uppercase;
   line-height: 15px;
 }

 .yellow-content__date>span {
   font: 400 21px 'Segoe UI Bold', 'Segoe WP';
   color: white;
   font-size: 51px;
 }

 .slidecontainer {
   width: 100%;
 }

 .slider {
   display: flex;
   /*выровнять по вертикали*/
   align-items: center;
   -webkit-appearance: none;
   width: 897px;
   height: 16px;
   background: #d3d3d3;
   outline: none;
   opacity: 0.7;
   -webkit-transition: .2s;
   transition: opacity .2s;
   border-radius: 15px;
   background: #F9E284;
   margin: 0 auto;
 }

 .slider:hover {
   opacity: 1;
 }

 .slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 225px;
   height: 16px;
   background: #EC9E03;
   border-radius: 15px;
   cursor: pointer;
 }

 .slider::-moz-range-thumb {
   width: 252px;
   height: 16px;
   background: #4CAF50;
   cursor: pointer;
 }



 .background-grey {
   /* border: 1px solid red; */
   height: 499px;
   background-image: url(../assets/images/bgGray.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }

 .grey-content {
   /* border: 1px solid red; */
   width: 1021px;
   height: 353px; 
   margin-left: 150px;
 }


 .grey-content h2 {
   /* border: 1px solid red; */
   text-align: center;
   font: 400 43px 'PTSans', 'Segoe WP';
   color: #F5C506;
   font-size: 51px;

 }

 .devices-block {
   /* border: 1px solid red; */
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .cycle-img {
   position: absolute;
   top: 1367px;
   left: 148px;
   width: 115px;
   height: 115px;
   border-radius: 50%;
   background: #f5c506;
   font: 700 15px "PTSans", sans-serif;
   color: #ffffff;
   text-transform: uppercase;
   text-align: center;
 }

 .inner {
   /* border: 1px solid red; */
   position: absolute;
   top: 43%;

 }

 .device-list {
   /* border: 1px solid red; */
   margin-left: 70px;
 }

 .device-list li {
   position: relative;
   margin-bottom: 25px;
   font: 400 22px 'PTSans';
   color: #a9a9a7;
 }

 .device-list li::before {
   content: "";
   position: absolute;
   top: 8px;
   left: -34px;
   display: inline-block;
   width: 14px;
   height: 14px;
   border-radius: 50%;
   background: #f5c506;
 }


 .inside {
   width: 150px;
   list-style-position: inside;
   list-style-type: square;
 }

 .outside {
   width: 150px;
   list-style-position: outside;
   list-style-type: circle;
 }

 .inside-img {
   width: 150px;
   list-style-position: inside;
   list-style-image: url("https://mdn.mozillademos.org/files/11979/starsolid.gif");
 }
 
 footer {
   height: 64px;
   background: #4C4C4C;
   color: white;
 }
 
 .footer-logo img {
   display: block;
   width: 223px;
   margin-left: 140px;
 }